<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.am.plus.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.am.plus.entity.User">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="email" property="email" />
        <result column="account" property="account" />
        <result column="creatTime" property="creatTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, password, email, account, creatTime
    </sql>
    <select id="getUserListByVague" resultType="com.am.plus.entity.User">
        select * from user
        <where>
            <if test="username!=null and username!='' ">
                <bind name="username" value="'%'+username+'%'"/>
                username like #{username}
            </if>
            <if test="account!=null and account!='' ">
                <bind name="account" value="'%'+account+'%'"/>
                and account like #{account}
            </if>
        </where>
        order by creatTime desc
    </select>

</mapper>
